<button type="button" id="export-avalara-selected" class="btn btn-warning" style="margin-right: 4px">
    <em class="fas fa-exchange-alt"></em> <!--promenjeno -->  
    @T("Plugins.Tax.Avalara.Items.Export")
</button>